# Project 05 -- [PavanKumar] [Battula]

**TA Help:** N/A

- Help with figuring out how to write a function.
    
**Collaboration:** N/A
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [4]:
import pandas as pd
"""myDF = pd.read_csv("/anvil/projects/tdm/data/noaa/2018.csv", header= None, names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
myDF.head()"""

'myDF = pd.read_csv("/anvil/projects/tdm/data/noaa/2018.csv", header= None, names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])\nmyDF.head()'

In [5]:
""" 
Function to find average of aggregated temparature
"""

def avg_aggreg_temp (file_location, column_title_list, start_date, end_date, my_element_code = 'TAVG'):
    myDF = pd.read_csv(file_location, header= None, names=column_title_list)
    my_result = myDF[(myDF['date'] >= start_date) & (myDF['date'] <= end_date) & (myDF['element_code'] == my_element_code)]['value'].mean()
    return my_result
"""returns an output of float value """

'returns an output of float value '

In [6]:
avg_aggreg_temp("/anvil/projects/tdm/data/noaa/2018.csv", ["id","date","element_code","value","mflag","qflag","sflag","obstime"], 
               20180101, 20180115, 'TAVG')

12.317542410053962

Markdown notes and sentences and analysis written here.

## Question 2

In [25]:
my_result = myDF[myDF['element_code'] == my_element_code]['value'].mean()
print(my_result)

127.30054644808743

In [34]:

""" 
Function to find average of aggregated temparature by year.
"""

def avg_aggreg_temp_by_year (range_of_years, column_title_list,my_element_code = "TAVG" ):
    my_dict = {}
    for my_year in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{my_year}.csv'
        myDF= pd.read_csv(file_location, header= None, names= column_title_list)
        my_result = myDF[myDF['element_code'] == my_element_code]['value'].mean()
        my_dict[my_year] = my_result
    return my_dict
"""returns an output of one dictionary values for each year """

'returns an output of one float value for each year '

In [37]:
avg_aggreg_temp_by_year(range(1880, 1884), ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

{1880: 127.30054644808743,
 1881: 49.00669116954104,
 1882: 58.33541290428501,
 1883: 50.54050116550116}

Markdown notes and sentences and analysis written here.

## Question 3

In [7]:
""" 
Function to find average of aggregated temparature by year.
"""

def avg_aggreg_temp_by_year_and_month (range_of_years, my_month, column_title_list,my_element_code = "TAVG" ):
    my_dict = {}
    for my_year in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{my_year}.csv'
        myDF= pd.read_csv(file_location, header= None, names= column_title_list)
        myDF['month'] = pd.to_datetime(myDF['date'], format='%Y%m%d').dt.month
        my_result = myDF[(myDF['element_code'] == my_element_code) &(myDF['month']== my_month)]['value'].mean()
        my_dict[my_year] = my_result
    return my_dict
"""returns an output of one dictionary values for each year and month"""

'returns an output of one dictionary values for each year and month'

In [8]:
avg_aggreg_temp_by_year_and_month(range(1880, 1884), 8, ["id","date","element_code","value","mflag","qflag","sflag","obstime"], 'TAVG')

{1880: 225.70967741935485,
 1881: 188.42227122381476,
 1882: 207.34585741811176,
 1883: 185.22810060711188}

Markdown notes and sentences and analysis written here.

## Question 4

In [15]:
myDF['qflag'].unique()

array([nan, 'D', 'I', 'N', 'S', 'X', 'O', 'G'], dtype=object)

In [23]:
""" 
Function to find the year that has the most qflags of the type.
"""

def most_qflag_year (range_of_years, my_qflag= 'D'):
    column_title_list = ["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    max_qflags = 0
    year_with_max_qflags = None
    for my_year in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{my_year}.csv'
        myDF= pd.read_csv(file_location, header= None, names= column_title_list)
        qflag_count = len(myDF[myDF['qflag'] == my_qflag])
        
        if qflag_count > max_qflags:
            max_qflags = qflag_count
            year_with_max_qflags = my_year

    return year_with_max_qflags
"""returns an output of one dictionary values for each year """

'returns an output of one dictionary values for each year '

In [24]:
most_qflag_year(range(1880,1884), 'D')

1880

In [26]:
most_qflag_year(range(1880,1884), 'L')

1881

In [29]:
most_qflag_year(range(1880,1884), 'I')

1883

QFLAG VALUES = D, G, I, K, L, N, O, S, X

## Question 5

In [5]:
def calculate_monthly_average_temperature(file_path):
    """
    Calculate the average temperature for each month across all years available in the NOAA dataset.

    Parameters:
    - file_path (str): The file path of the NOAA dataset CSV file.
    """
    column_titles = ["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"]

    df = pd.read_csv(file_path, header=None, names=column_titles)
    df['date'] = pd.to_datetime(df['date'])
    df['month'] = df['date'].dt.month
    df['year'] = df['date'].dt.year

    # Filter out rows with missing values
    df = df.dropna(subset=['value'])

    # Group by month and year, then calculate the average temperature for each month
    monthly_avg_temp = df.groupby(['month', 'year'])['value'].mean().reset_index()

    # Pivot the DataFrame to have months as columns and years as rows
    monthly_avg_temp_pivot = monthly_avg_temp.pivot(index='year', columns='month', values='value')

    # Calculate the overall average temperature for each month across all years
    overall_monthly_avg_temp = monthly_avg_temp_pivot.mean()

    # Create a DataFrame to store the results
    result_df = pd.DataFrame({'Month': overall_monthly_avg_temp.index, 'Average Temperature': overall_monthly_avg_temp.values})

    return result_df

In [6]:
calculate_monthly_average_temperature("/anvil/projects/tdm/data/noaa/1886.csv")

   Month  Average Temperature
0      1            30.970307

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.