# Project 09 -- [Pavan Kumar] [Battula]

**TA Help:** N/A

- Help with figuring out how to write a function.
    
**Collaboration:** N/A
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [3]:
import pandas as pd

In [2]:
myDF = pd.read_csv("/anvil/projects/tdm/data/whin/weather.csv")
pd.set_option('display.max_columns', None)

In [3]:
myDF.head(2)

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,solar_radiation_high,rain,rain_inches_last_hour,wind_speed_mph,wind_direction_degrees,wind_gust_speed_mph,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,NaN,0.0,0.0,0.0,NaN,3.0,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,NaN,0.0,0.0,1.0,247.5,3.0,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0

In [4]:
myDF.columns

Index(['station_id', 'latitude', 'longitude', 'name', 'observation_time',
       'temperature', 'temperature_high', 'temperature_low', 'humidity',
       'solar_radiation', 'solar_radiation_high', 'rain',
       'rain_inches_last_hour', 'wind_speed_mph', 'wind_direction_degrees',
       'wind_gust_speed_mph', 'wind_gust_direction_degrees', 'pressure',
       'soil_temp_1', 'soil_temp_2', 'soil_temp_3', 'soil_temp_4',
       'soil_moist_1', 'soil_moist_2', 'soil_moist_3', 'soil_moist_4'],
      dtype='object')

In [5]:
#records for each stations using value_counts()

myDF['station_id'].value_counts()

station_id
1      71631
20     56917
147    45600
143    45593
146    45579
145    45509
144    45495
142    45395
149    44060
159    43563
153    43559
157    43534
155    42993
160    42810
156    42807
151    42806
164    38791
163    37908
166    30242
167    27463
168    18581
169    14905
172    14812
179    14772
176    14402
173    13648
175    13314
171    13311
Name: count, dtype: int64

In [6]:
#records for each stations using groupby()
group = myDF.groupby('station_id').size()
group

station_id
1      71631
20     56917
142    45395
143    45593
144    45495
145    45509
146    45579
147    45600
149    44060
151    42806
153    43559
155    42993
156    42807
157    43534
159    43563
160    42810
163    37908
164    38791
166    30242
167    27463
168    18581
169    14905
171    13311
172    14812
173    13648
175    13314
176    14402
179    14772
dtype: int64

The difference is that groupby() method needs an additional method size() but not in case of value_counts() method.

## Question 2

In [7]:
null_count = myDF.isnull().sum()
null_count

station_id                          0
latitude                            0
longitude                           0
name                                0
observation_time                    0
temperature                      4176
temperature_high                 4123
temperature_low                  4123
humidity                         4162
solar_radiation                 48104
solar_radiation_high            12828
rain                                0
rain_inches_last_hour               0
wind_speed_mph                   4032
wind_direction_degrees          95545
wind_gust_speed_mph                 0
wind_gust_direction_degrees     94216
pressure                            0
soil_temp_1                    114043
soil_temp_2                    114041
soil_temp_3                    114037
soil_temp_4                    114036
soil_moist_1                   114124
soil_moist_2                   114170
soil_moist_3                   114174
soil_moist_4                   114150
dtype: int64

In [8]:
total = myDF.isnull().sum().sum();
total

1184084

In [9]:
myDF_cleaned = myDF.dropna()

In [10]:
myDF_cleaned.isnull().sum()

station_id                     0
latitude                       0
longitude                      0
name                           0
observation_time               0
temperature                    0
temperature_high               0
temperature_low                0
humidity                       0
solar_radiation                0
solar_radiation_high           0
rain                           0
rain_inches_last_hour          0
wind_speed_mph                 0
wind_direction_degrees         0
wind_gust_speed_mph            0
wind_gust_direction_degrees    0
pressure                       0
soil_temp_1                    0
soil_temp_2                    0
soil_temp_3                    0
soil_temp_4                    0
soil_moist_1                   0
soil_moist_2                   0
soil_moist_3                   0
soil_moist_4                   0
dtype: int64

In [11]:
total = myDF_cleaned.isnull().sum().sum();
total

0

## Question 3

In [12]:
new_df  = myDF.dropna(subset =['temperature'])
new_df.shape

(995824, 26)

In [13]:
new_df.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,solar_radiation_high,rain,rain_inches_last_hour,wind_speed_mph,wind_direction_degrees,wind_gust_speed_mph,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,NaN,0.0,0.0,0.0,NaN,3.0,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,NaN,0.0,0.0,1.0,247.5,3.0,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,225.0,4.0,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0

In [14]:
new_df['location'] = new_df['latitude'].astype(str) + '_'+ new_df['longitude'].astype(str)

/tmp/ipykernel_177534/4089450792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['location'] = new_df['latitude'].astype(str) + '_'+ new_df['longitude'].astype(str)

In [15]:
new_df.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,solar_radiation_high,rain,rain_inches_last_hour,wind_speed_mph,wind_direction_degrees,wind_gust_speed_mph,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4,location
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,NaN,0.0,0.0,0.0,NaN,3.0,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0,40.93894_-86.47418
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,NaN,0.0,0.0,1.0,247.5,3.0,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0,40.93894_-86.47418
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0,40.93894_-86.47418
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0,40.93894_-86.47418
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,225.0,4.0,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0,40.93894_-86.47418

In [16]:
avg_temperature_by_loc = new_df.groupby('location')['temperature'].mean()
avg_temperature_by_loc

location
40.10483_-86.86619                    56.057495
40.1492432088387_-86.7371410131454    61.413324
40.16179_-87.35246                    54.052897
40.2709571472446_-87.1486035394257    49.803342
40.2967994865571_-87.3902853950858    57.855233
40.30156_-87.48248                    58.889855
40.37634_-86.59591                    54.794076
40.38116_-86.40269                    47.765668
40.3840069271445_-87.31664031744      59.552215
40.38539_-87.51034                    55.115662
40.3861140862113_-87.1012964844704    59.383360
40.42124_-86.84642                    50.742410
40.43134_-86.53464                    55.081819
40.48079_-87.20682                    51.730032
40.4869749155437_-87.4914180859923    58.971553
40.51432_-86.45856                    55.183031
40.53722_-86.95342                    55.070667
40.5485_-87.12477                     54.898998
40.58629_-87.43654                    54.676701
40.59057_-86.39155                    55.307808
40.70178_-86.70649                    55.482287
40.78049_-86.89576                    54.791890
40.84436_-86.18173                    54.942505
40.93894_-86.47418                    49.883742
40.9700622558594_-86.9013715815608    59.919768
40.97061_-86.35304                    55.292530
40.98224_-86.38542                    54.206106
41.01865_-86.7101                     53.836086
Name: temperature, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 4

In [17]:
# find the average temperature by location
# input is a  file location of data frame
def avg_temperature_by_location (file_location):
    myDF = pd.read_csv(file_location)
    pd.set_option('display.max_columns', None)
    
    newDF  = myDF.dropna(subset =['temperature']);
    newDF['location'] = newDF['latitude'].astype(str) + '_'+ newDF['longitude'].astype(str);
    
    # caluclate the average temperature by location
    avg_temperature_by_loc = newDF.groupby('location')['temperature'].mean()
    
    return avg_temperature_by_loc
    
# returns avg_temperature_by_location values

In [18]:
# calling the function
file_location = "/anvil/projects/tdm/data/whin/weather.csv"
avg_temperature_by_location(file_location)

/tmp/ipykernel_177534/3508060711.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDF['location'] = newDF['latitude'].astype(str) + '_'+ newDF['longitude'].astype(str);

location
40.10483_-86.86619                    56.057495
40.1492432088387_-86.7371410131454    61.413324
40.16179_-87.35246                    54.052897
40.2709571472446_-87.1486035394257    49.803342
40.2967994865571_-87.3902853950858    57.855233
40.30156_-87.48248                    58.889855
40.37634_-86.59591                    54.794076
40.38116_-86.40269                    47.765668
40.3840069271445_-87.31664031744      59.552215
40.38539_-87.51034                    55.115662
40.3861140862113_-87.1012964844704    59.383360
40.42124_-86.84642                    50.742410
40.43134_-86.53464                    55.081819
40.48079_-87.20682                    51.730032
40.4869749155437_-87.4914180859923    58.971553
40.51432_-86.45856                    55.183031
40.53722_-86.95342                    55.070667
40.5485_-87.12477                     54.898998
40.58629_-87.43654                    54.676701
40.59057_-86.39155                    55.307808
40.70178_-86.70649                    55.482287
40.78049_-86.89576                    54.791890
40.84436_-86.18173                    54.942505
40.93894_-86.47418                    49.883742
40.9700622558594_-86.9013715815608    59.919768
40.97061_-86.35304                    55.292530
40.98224_-86.38542                    54.206106
41.01865_-86.7101                     53.836086
Name: temperature, dtype: float64

## Question 5

In [19]:
new_df1  = myDF.dropna(subset =['wind_gust_speed_mph'])
new_df1.shape

(1000000, 26)

In [20]:
new_df1['location'] = new_df1['latitude'].astype(str) + '_'+ new_df['longitude'].astype(str)

avg_temperature_by_loc = new_df.groupby('location')['wind_gust_speed_mph'].mean()
avg_temperature_by_loc

location
40.10483_-86.86619                    10.563551
40.1492432088387_-86.7371410131454    10.136323
40.16179_-87.35246                     9.032308
40.2709571472446_-87.1486035394257     9.994114
40.2967994865571_-87.3902853950858    11.560288
40.30156_-87.48248                    10.205555
40.37634_-86.59591                    10.174628
40.38116_-86.40269                    12.851717
40.3840069271445_-87.31664031744       6.184488
40.38539_-87.51034                    11.075945
40.3861140862113_-87.1012964844704     7.812415
40.42124_-86.84642                     5.974205
40.43134_-86.53464                    11.226786
40.48079_-87.20682                     6.290474
40.4869749155437_-87.4914180859923    11.720362
40.51432_-86.45856                    10.181839
40.53722_-86.95342                    11.794791
40.5485_-87.12477                     10.516033
40.58629_-87.43654                    11.681777
40.59057_-86.39155                    10.055651
40.70178_-86.70649                    10.139477
40.78049_-86.89576                    10.855496
40.84436_-86.18173                    10.285534
40.93894_-86.47418                     9.945019
40.9700622558594_-86.9013715815608    11.544695
40.97061_-86.35304                    10.843384
40.98224_-86.38542                    10.964359
41.01865_-86.7101                      8.976051
Name: wind_gust_speed_mph, dtype: float64

In [1]:
# find the average wind_gust_speed_mph by location
# input is a  file location of data frame
def avg__wind_gust_speed_mph_by_location (file_location):
    myDF = pd.read_csv(file_location)
    pd.set_option('display.max_columns', None)
    
    newDF  = myDF.dropna(subset =['wind_gust_speed_mph']);
    newDF['location'] = newDF['latitude'].astype(str) + '_'+ newDF['longitude'].astype(str);
    
    # caluclate the average temperature by location
    avg__wind_gust_speed_mph_by_loc = newDF.groupby('location')['wind_gust_speed_mph'].mean()
    
    return avg__wind_gust_speed_mph_by_loc
    
# returns avg_wind_gust_speed_mph_by_location values

In [4]:
# calling the function
file_location = "/anvil/projects/tdm/data/whin/weather.csv"
avg__wind_gust_speed_mph_by_location(file_location)

location
40.10483_-86.86619                    10.186783
40.1492432088387_-86.7371410131454    10.136323
40.16179_-87.35246                     9.026960
40.2709571472446_-87.1486035394257     9.993939
40.2967994865571_-87.3902853950858    11.560288
40.30156_-87.48248                    10.146300
40.37634_-86.59591                    10.174628
40.38116_-86.40269                    12.850781
40.3840069271445_-87.31664031744       6.184488
40.38539_-87.51034                    11.075690
40.3861140862113_-87.1012964844704     7.812415
40.42124_-86.84642                     5.973414
40.43134_-86.53464                    11.226047
40.48079_-87.20682                     6.290135
40.4869749155437_-87.4914180859923    11.720362
40.51432_-86.45856                    10.181839
40.53722_-86.95342                    11.794791
40.5485_-87.12477                     10.516033
40.58629_-87.43654                    11.681777
40.59057_-86.39155                    10.055651
40.70178_-86.70649                     9.843719
40.78049_-86.89576                    10.852191
40.84436_-86.18173                    10.285053
40.93894_-86.47418                     9.944437
40.9700622558594_-86.9013715815608    11.544695
40.97061_-86.35304                    10.564448
40.98224_-86.38542                    10.964359
41.01865_-86.7101                      8.975526
Name: wind_gust_speed_mph, dtype: float64

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.