# Project  03-- [PavanKumar] [Battula]

**TA Help:** N/A

- Help with figuring out how to write a function.
    
**Collaboration:** N/A
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [1]:
import pandas as pd
from pathlib import Path
Path ("/anvil/projects/tdm/data/noaa")

PosixPath('/anvil/projects/tdm/data/noaa')

In [2]:
myfiles = [Path(f'/anvil/projects/tdm/data/noaa/{year}.csv') for year in range(1880, 1884)]
print(myfiles)

[PosixPath('/anvil/projects/tdm/data/noaa/1880.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1881.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1882.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1883.csv')]

Markdown notes and sentences and analysis written here.

## Question 2

In [37]:

with open(file = Path('/anvil/projects/tdm/data/noaa/1880.csv')) as f:
    mycount = 0
    for line in f:
        mycount += 1
print(f'There are {mycount} records in the file called {file}')

There are 370779 records in the file called /anvil/projects/tdm/data/noaa/1883.csv

There are 33923709 records in the file called /anvil/projects/tdm/data/noaa/1980.csv

In [45]:
total_count = 0

for file in myfiles:
    with open(file, "r") as f:
        mycount = 0
        for line in f:
            mycount += 1
            print(f'There are {total_count} records in the {len(myfiles)} files altogether.')
        total_count += mycount

print(f'There are {total_count} records in the {len(myfiles)} files altogether.')

There are 1906862 records in the 4 files altogether.

Markdown notes and sentences and analysis written here.

## Question 3

In [13]:

# Read the first file into a DataFrame
myDF = pd.read_csv(myfiles[0])
myDF.head()

   AGE00147705  18800101  PRCP   0 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  AGE00147708  18800101  PRCP  36        NaN        NaN  E         NaN
1  AGE00147709  18800101  PRCP  36        NaN        NaN  E         NaN
2  AGE00147712  18800101  PRCP   0        NaN        NaN  E         NaN
3  AGE00147713  18800101  TMAX  52        NaN        NaN  E         NaN
4  AGE00147713  18800101  TMIN   0        NaN        NaN  E         NaN

Markdown notes and sentences and analysiyes, i saw some unnamed columns.

In [14]:
myDF = pd.read_csv(myfiles[0], header=None)

In [16]:
myDF=pd.read_csv(myfiles[0],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [24]:
myDataFrames = []

for i in range (0,4):
    myDataFrames.append(pd.read_csv(myfiles[0],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"]))

In [27]:
for i in range(0,4):
    print(myDataFrames[i].columns)

Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')

## Question 4

In [28]:
for i in range(0,4):
    print(myDataFrames[i]['element_code'].unique())

['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']
['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']
['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']
['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']

In [31]:
for i in range(0,4):
    print(myDataFrames[i]['element_code'].value_counts()['SNOW'])

33700
33700
33700
33700

it is 33700 times.

## Question 5

In [32]:
import pandas as pd
from pathlib import Path
myfiles=[]
for year in range (1880, 1884):
    file= Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
    myfiles.append(file)

In [33]:
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        count += len(myDF[myDF['element_code'] == 'SNOW'])

print(count)

164216

In [34]:
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        for index, row in myDF.iterrows():
            if row['element_code'] == 'SNOW':
                count += 1

print(count)

164216

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.