# Project 07 -- [Pavan Kumar] [Battula]

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [3]:
import pandas as pd

In [4]:
myyear = 1880

In [5]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [6]:
myDF.shape

(370779, 8)

In [8]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [9]:
us_records.shape

(48428, 8)

In [10]:
us_records.head()

              id      date element_code  value mflag qflag sflag  obstime
858  USC00015555  18800101         TMAX    222   NaN   NaN     0      NaN
859  USC00015555  18800101         TMIN    106   NaN   NaN     0      NaN
860  USC00015555  18800101         PRCP     13   NaN   NaN     0      NaN
861  USC00015555  18800101         SNOW      0   NaN   NaN     0      NaN
862  USC00023096  18800101         PRCP      0   NaN   NaN     F      NaN

In [12]:
myyear = 1881

In [13]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [14]:
myDF.shape

(443270, 8)

In [15]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [16]:
us_records.shape

(48196, 8)

In [17]:
us_records.head()

               id      date element_code  value mflag qflag sflag  obstime
1008  USC00015555  18810101         TMAX     11   NaN   NaN     0      NaN
1009  USC00015555  18810101         TMIN    -33   NaN   NaN     0      NaN
1010  USC00015555  18810101         PRCP     15   NaN   NaN     0      NaN
1011  USC00015555  18810101         SNOW     15   NaN   NaN     0      NaN
1012  USC00023096  18810101         PRCP      0   NaN   NaN     F      NaN

In [18]:
myyear = 1882

In [19]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [20]:
myDF.shape

(514083, 8)

In [21]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [22]:
us_records.shape

(50664, 8)

In [23]:
us_records.head()

               id      date element_code  value mflag qflag sflag  obstime
1216  USC00015555  18820101         TMAX    106   NaN   NaN     0      NaN
1217  USC00015555  18820101         TMIN     -6   NaN   NaN     0      NaN
1218  USC00015555  18820101         PRCP      0   NaN   NaN     0      NaN
1219  USC00015555  18820101         SNOW      0   NaN   NaN     0      NaN
1220  USC00023096  18820101         PRCP      0   NaN   NaN     F      NaN

In [24]:
myyear = 1883

In [25]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [26]:
myDF.shape

(578730, 8)

In [27]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [28]:
us_records.shape

(52363, 8)

In [29]:
us_records.head()

               id      date element_code  value mflag qflag sflag  obstime
1387  USC00015555  18830101         TMAX    122   NaN   NaN     0      NaN
1388  USC00015555  18830101         TMIN      0   NaN   NaN     0      NaN
1389  USC00015555  18830101         PRCP      0   NaN   NaN     0      NaN
1390  USC00015555  18830101         SNOW      0   NaN   NaN     0      NaN
1391  USC00023096  18830101         PRCP      0   NaN   NaN     F      NaN

In [30]:
myyears = [1880, 1881, 1882, 1883]

In [31]:
us_records_counts = {}

In [32]:
for year in myyears:
    file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
    df = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
    us_records_count = df[df['id'].str.startswith('US')].shape[0]
    us_records_counts[year] = us_records_count

In [33]:
us_records_counts

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

In [34]:
def count_us_records_by_years(years: int) -> pd.DataFrame:
        us_records_counts = {}
        for year in years:
            file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
            df = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
            us_records_count = df[df['id'].str.startswith('US')].shape[0]
            us_records_counts[year] = us_records_count
        
        return us_records_counts

In [35]:
years_of_interest = [1880, 1881, 1882, 1883]
us_records_counts = count_us_records_by_years(years_of_interest)
print(us_records_counts)

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

Markdown notes and sentences and analysis written here.

## Question 2

In [36]:
us_records_counts = dict(sorted(us_records_counts.items(), key=lambda item: item[0], reverse=True))

In [37]:
us_records_counts

{1883: 52363, 1882: 50664, 1881: 48196, 1880: 48428}

In [38]:
def count_us_records_desc(years: int) -> pd.DataFrame:
    us_records_counts = {}
    
    for year in years:
        file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
        df = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
        us_records_count = df[df['id'].str.startswith('US')].shape[0]
        us_records_counts[year] = us_records_count
    us_records_counts = dict(sorted(us_records_counts.items(), key=lambda item: item[0], reverse=True))
    
    return us_records_counts

In [39]:
years_of_interest = [1880, 1881, 1882, 1883]
sorted_us_records_counts = count_us_records_desc(years_of_interest)
print(sorted_us_records_counts)

{1883: 52363, 1882: 50664, 1881: 48196, 1880: 48428}

## Question 3

In [94]:
myyear = 1880

In [95]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [96]:
filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]

In [54]:
filtered_df.shape

(203, 8)

In [56]:
myyear = 1881

In [60]:
filtered_df.shape

(266, 8)

In [62]:
myyear = 1882

In [65]:
filtered_df.shape

(253, 8)

In [66]:
myyear = 1883

In [70]:
filtered_df.shape

(187, 8)

In [71]:
years_of_interest = [1880, 1881, 1882, 1883]

In [72]:
snowfall_counts = {}

In [73]:
for year in years_of_interest:
        file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
        df = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
        positive_snowfall_count = df[(df['id'].str.startswith('US')) & (df['element_code'] == 'SNOW') & (df['value'] > 0)].shape[0]
        snowfall_counts[year] = positive_snowfall_count

In [75]:
snowfall_counts

{1880: 203, 1881: 266, 1882: 253, 1883: 187}

In [2]:
def count_snowfall_positive_years(years):
    snowfall_counts = {}
    for year in years:
        file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
        df = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
        positive_snowfall_count = df[(df['id'].str.startswith('US')) & (df['element_code'] == 'SNOW') & (df['value'] > 0)].shape[0]
        snowfall_counts[year] = positive_snowfall_count
    return snowfall_counts

In [3]:
years_of_interest = [1880, 1881, 1882, 1883]

In [78]:
snowfall_counts = count_snowfall_positive_years(years_of_interest)

In [1]:
print(snowfall_counts)

NameError: name 'snowfall_counts' is not defined

Markdown notes and sentences and analysis written here.

## Question 4

In [104]:
myyear = 1880

In [142]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [143]:
filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]

In [144]:
grouped = filtered_df.groupby('id').size()
max_snowfall_id = grouped.idxmax()
max_snowfall_count = grouped.max()

In [109]:
print(f"Year {myyear}: ID with the most snowfall days is {max_snowfall_id} with {max_snowfall_count} days.")

Year 1880: ID with the most snowfall days is USW00024128 with 35 days.

In [110]:
myyear = 1881

In [114]:
print(f"Year {myyear}: ID with the most snowfall days is {max_snowfall_id} with {max_snowfall_count} days.")

Year 1881: ID with the most snowfall days is USC00464045 with 33 days.

In [136]:
myyear = 1882

In [140]:
print(f"Year {myyear}: ID with the most snowfall days is {max_snowfall_id} with {max_snowfall_count} days.")

Year 1882: ID with the most snowfall days is USC00176902 with 49 days.

In [141]:
myyear = 1883

In [145]:
print(f"Year {myyear}: ID with the most snowfall days is {max_snowfall_id} with {max_snowfall_count} days.")

Year 1883: ID with the most snowfall days is USC00176902 with 43 days.

In [170]:
years_of_interest = [1880, 1881, 1882, 1883]

In [171]:
max_snowfall_ids = {}

In [172]:
for myyear in years_of_interest:
    myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)
    filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]
    grouped = filtered_df.groupby('id').size()
    max_snowfall_id = grouped.idxmax()
    max_snowfall_ids[myyear] = max_snowfall_id

In [173]:
max_snowfall_ids

{1880: 'USW00024128',
 1881: 'USC00464045',
 1882: 'USC00176902',
 1883: 'USC00176902'}

In [181]:
def find_max_snowfall_ids(years):
    max_snowfall_ids = {}
    for year in years:
        file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
        myDF = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
        filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]
        grouped = filtered_df.groupby('id').size()
        max_snowfall_id = grouped.idxmax()
        max_snowfall_ids[year] = max_snowfall_id
    return max_snowfall_ids

In [182]:
years_of_interest = [1880, 1881, 1882, 1883]
result = find_max_snowfall_ids(years_of_interest)
print(result)

{1880: 'USW00024128', 1881: 'USC00464045', 1882: 'USC00176902', 1883: 'USC00176902'}

Markdown notes and sentences and analysis written here.

## Question 5

In [1]:
myyear = 1880

In [23]:
myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)

In [24]:
filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]

In [25]:
grouped_sum = filtered_df.groupby('id')['value'].sum()

In [26]:
max_snowfall_id = grouped_sum.idxmax()
max_snowfall_total = grouped_sum.max()

In [9]:
print(f"Year 1880: ID with the largest total snowfall is {max_snowfall_id} with {max_snowfall_total} units of snowfall.")

Year 1880: ID with the largest total snowfall is USC00464045 with 1755 units of snowfall.

In [10]:
myyear = 1881

In [15]:
print(f"Year 1881: ID with the largest total snowfall is {max_snowfall_id} with {max_snowfall_total} units of snowfall.")

Year 1881: ID with the largest total snowfall is USW00014971 with 2199 units of snowfall.

In [16]:
myyear = 1882

In [21]:
print(f"Year 1882: ID with the largest total snowfall is {max_snowfall_id} with {max_snowfall_total} units of snowfall.")

Year 1882: ID with the largest total snowfall is USC00176902 with 2622 units of snowfall.

In [22]:
myyear = 1883

In [27]:
print(f"Year 1883: ID with the largest total snowfall is {max_snowfall_id} with {max_snowfall_total} units of snowfall.")

Year 1883: ID with the largest total snowfall is USC00464045 with 3256 units of snowfall.

In [38]:
years_of_interest = [1880, 1881, 1882, 1883]

In [39]:
max_snowfall_ids_totals = {}

In [40]:
for myyear in years_of_interest:
    myDF = pd.read_csv((f'/anvil/projects/tdm/data/noaa/{myyear}.csv'),names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],header=None)
    filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]
    grouped_sum = filtered_df.groupby('id')['value'].sum()
    max_snowfall_id = grouped_sum.idxmax()
    max_snowfall_total = grouped_sum.max()
    max_snowfall_ids_totals[myyear] = (max_snowfall_id, max_snowfall_total)

In [41]:
max_snowfall_ids_totals

{1880: ('USC00464045', 1755),
 1881: ('USW00014971', 2199),
 1882: ('USC00176902', 2622),
 1883: ('USC00464045', 3256)}

In [43]:
def find_max_snowfall_totals(years):
    max_snowfall_totals = {}
    for year in years:
        file_path = f'/anvil/projects/tdm/data/noaa/{year}.csv'
        myDF = pd.read_csv(file_path, names=["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"], header=None)
        filtered_df = myDF[(myDF['id'].str.startswith('US')) & (myDF['element_code'] == 'SNOW') & (myDF['value'] > 0)]
        grouped_sum = filtered_df.groupby('id')['value'].sum()
        max_snowfall_id = grouped_sum.idxmax()
        max_snowfall_total = grouped_sum.max()
        max_snowfall_totals[year] = (max_snowfall_id, max_snowfall_total)

    return max_snowfall_totals

In [44]:
years_of_interest = [1880, 1881, 1882, 1883]
result = find_max_snowfall_totals(years_of_interest)
print(result)

{1880: ('USC00464045', 1755), 1881: ('USW00014971', 2199), 1882: ('USC00176902', 2622), 1883: ('USC00464045', 3256)}

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.