# Project 06 -- [Pavan Kumar] [Battula]

**TA Help:** N/A

- Help with figuring out how to write a function.
    
**Collaboration:** N/A
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [1]:
import pandas as pd

In [2]:
myyear= 1984

In [3]:
myfilepath=f'/anvil/projects/tdm/data/election/itcont{myyear}.txt'
mycolumnnames=["CMTE_ID","AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","STATE","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_AMT","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID"]
mydictionarytypes = {"CMTE_ID": str, "AMNDT_IND": str, "RPT_TP": str, "TRANSACTION_PGI": str, "IMAGE_NUM": str, "TRANSACTION_TP": str, "ENTITY_TP": str, "NAME": str, "CITY": str, "STATE": str, "ZIP_CODE": str, "EMPLOYER": str, "OCCUPATION": str, "TRANSACTION_DT": str, "TRANSACTION_AMT": float, "OTHER_ID": str, "TRAN_ID": str, "FILE_NUM": str, "MEMO_CD": str, "MEMO_TEXT": str, "SUB_ID": int}

In [4]:
myDF = pd.read_csv(myfilepath, delimiter='|', names=mycolumnnames, dtype=mydictionarytypes)
myDF['TRANSACTION_DT'] = pd.to_datetime(myDF['TRANSACTION_DT'], format="%m%d%Y")
myDF.head(2)

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00146845,N,MY,NaN,83012471866,15,NaN,"ANDREWS, STEPHEN K",INDPLS,IN,...,ATTORNEY,NaN,1983-02-28,500.0,NaN,NaN,NaN,NaN,NaN,3061920110001124709
1,C00167973,A,MY,NaN,83012481756,15,NaN,"ZARO, CHRISTOPHER",WAYNE,PA,...,REAL ESTATE DEVELOPER,NaN,1983-01-28,500.0,NaN,NaN,NaN,NaN,NaN,3061920110001112098

In [5]:
""" function to read election-year's head data
 it takes the input a election year value
 my_ele_year is integer value
"""
def read_election_year (my_ele_year):
    myyear= my_ele_year;
    myfilepath=f'/anvil/projects/tdm/data/election/itcont{myyear}.txt'
    mycolumnnames=["CMTE_ID","AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","STATE","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_AMT","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID"]
    mydictionarytypes = {"CMTE_ID": str, "AMNDT_IND": str, "RPT_TP": str, "TRANSACTION_PGI": str, "IMAGE_NUM": str, "TRANSACTION_TP": str, "ENTITY_TP": str, "NAME": str, "CITY": str, "STATE": str, "ZIP_CODE": str, "EMPLOYER": str, "OCCUPATION": str, "TRANSACTION_DT": str, 
                         "TRANSACTION_AMT": float, "OTHER_ID": str, "TRAN_ID": str, "FILE_NUM": str, "MEMO_CD": str, "MEMO_TEXT": str, "SUB_ID": int}
    myDF = pd.read_csv(myfilepath, delimiter='|', names=mycolumnnames, dtype=mydictionarytypes)
    myDF['TRANSACTION_DT'] = pd.to_datetime(myDF['TRANSACTION_DT'], format="%m%d%Y")
    return myDF
"""returns the election year's data set or information
   myDF pd.dataframe
"""

"returns the election year's data set or information\n   myDF pd.dataframe\n"

In [6]:
 read_election_year(1980)  # Call th function for each year

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00078279,A,M11,P,80031492155,22Y,NaN,"MCKENNON, K R",MIDLAND,MI,...,NaN,NaN,1979-10-03,400.0,NaN,NaN,NaN,NaN,CONTRIBUTION REF TO INDIVIDUAL,3062020110011466469
1,C00078279,A,M11,NaN,79031415137,15,NaN,"OREFFICE, P",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1500.0,NaN,NaN,NaN,NaN,NaN,3061920110000382948
2,C00078279,A,M11,NaN,79031415137,15,NaN,"DOWNEY, J",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,300.0,NaN,NaN,NaN,NaN,NaN,3061920110000382949
3,C00078279,A,M11,NaN,79031415137,15,NaN,"BLAIR, E",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110000382950
4,C00078287,A,Q1,NaN,79031231889,15,NaN,"BLANCHARD, JOHN A",CHICAGO,IL,...,NaN,NaN,1979-03-20,200.0,NaN,NaN,NaN,NaN,NaN,3061920110000383914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308691,C99003063,N,YE,NaN,81031902915,15,NaN,"PLEMAN, THOMAS J",WESTLAKE ISLAND,CA,...,STUDENT,NaN,1980-10-17,500.0,NaN,NaN,NaN,NaN,NaN,3061920110000777082
308692,C99003063,N,YE,NaN,81031902915,15,NaN,"SHEINBAUM, STANLEY",LOS ANGELES,CA,...,ECONOMIST,NaN,1980-10-16,500.0,NaN,NaN,NaN,NaN,NaN,3061920110000777083
308693,C00144170,N,YE,NaN,83032835154,15,NaN,"PHILLIPS, LEONARD",SHREVEPORT,LA,...,SKLAR & PHILLIPS OIL CO,NaN,1981-10-09,500.0,NaN,NaN,NaN,NaN,NaN,3061920110000579479
308694,C00144170,N,YE,NaN,83032835154,15,NaN,"PHILLIPS, BETTY S",SHREVEPORT,LA,...,HOUSEWIFE,NaN,1981-10-09,500.0,NaN,NaN,NaN,NaN,NaN,3061920110000579480
308695,C00109637,N,YE,NaN,81020013947,15,NaN,"STUART, HAROLD MRS",TULSA,OK,...,HOUSEWIFE,NaN,1980-12-09,500.0,NaN,NaN,NaN,NaN,NaN,3061920110000674036

Markdown notes and sentences and analysis written here.

## Question 2

In [22]:
myyear = 1988
myDF=  read_election_year(myyear)
len(myDF['CMTE_ID'].unique())

3995

In [23]:
""" function to read election-year's data of Unique  committees ID
 it takes the input a election year value
 my_ele_year is integer value
"""
def committees_function (my_ele_year):
    myyear= my_ele_year;
    myDF=  read_election_year(myyear)
    Unique = len(myDF['CMTE_ID'].unique())
    return Unique
"""returns the election year's Unique  committees ID integer values
"""

"returns the election year's Unique  committees ID integer values\n"

In [24]:
committees_function(1988)

3995

The outputs are same for the both.

## Question 3

In [20]:
myyear = 1980
myDF=  read_election_year(myyear)
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values()

STATE
TU         250.0
BE         750.0
CZ         950.0
EL        1000.0
AS        1500.0
         ...
IL     9105545.0
FL    10514203.0
NY    18673301.0
CA    24085171.0
TX    24472610.0
Name: TRANSACTION_AMT, Length: 61, dtype: float64

In [29]:
""" function to read election-year's data of top_five_states
 it takes the input a election year value
 my_ele_year is integer value
"""
def top_five_states (my_ele_year):
    myyear = my_ele_year
    myDF=  read_election_year(myyear)
    top_5_state = myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values(ascending=False).head()
    return top_5_state
"""returns the election year's top_five_state transaction amount
"""

"returns the election year's top_five_state\n"

In [30]:
top_five_states(1980)

STATE
TX    24472610.0
CA    24085171.0
NY    18673301.0
FL    10514203.0
IL     9105545.0
Name: TRANSACTION_AMT, dtype: float64

In [33]:
top_five_states(1988)

STATE
CA    60239357.0
NY    49898456.0
TX    29076324.0
FL    25373272.0
NJ    18934575.0
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 4

In [37]:
myyear = 1980
myDF=  read_election_year(myyear)
myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values(ascending=False).head()

EMPLOYER
RETIRED       8565354.0
ATTORNEY      5689870.0
HOUSEWIFE     5457943.0
HOMEMAKER     4649872.0
HOUSE WIFE    4549216.0
Name: TRANSACTION_AMT, dtype: float64

In [39]:
""" function to read election-year's data of top_5_employer transaction amount
 it takes the input a election year value
 my_ele_year is integer value
"""
def top_employers (my_ele_year):
    myyear = my_ele_year
    myDF=  read_election_year(myyear)
    top_5_employer = myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values(ascending=False).head()
    return  top_5_employer
"""returns the election year's top_5_employer transaction amount
"""

"returns the election year's top_5_employer transaction amount\n"

In [40]:
top_employers(1980)

EMPLOYER
RETIRED       8565354.0
ATTORNEY      5689870.0
HOUSEWIFE     5457943.0
HOMEMAKER     4649872.0
HOUSE WIFE    4549216.0
Name: TRANSACTION_AMT, dtype: float64

In [41]:
top_employers(1988)

EMPLOYER
HOUSEWIFE    14626839.0
HOMEMAKER     9834325.0
ATTORNEY      9488872.0
RETIRED       5865073.0
PHYSICIAN     3104940.0
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 5

In [48]:
myyear = 1988
myDF=  read_election_year(myyear)
transaction_distribution = myDF['TRANSACTION_AMT'].describe()
transaction_distribution

count    432978.000000
mean        961.175552
std        2846.359481
min      -20000.000000
25%         500.000000
50%        1000.000000
75%        1000.000000
max      700000.000000
Name: TRANSACTION_AMT, dtype: float64

In [44]:
""" function to analyze election-year's data 
 it takes the input a election year value
 my_ele_year is integer value
"""

def analyze_election_data(my_ele_year):
    myyear = my_ele_year
    myDF=  read_election_year(myyear)
    
    # Something interesting for the specified year
    transaction_distribution = myDF['TRANSACTION_AMT'].describe()
    
    return(transaction_distribution)
"""returns transaction_distribution which is analyztion of election_data """

In [46]:
# Call the function for each year
analyze_election_data(1988)

count    432978.000000
mean        961.175552
std        2846.359481
min      -20000.000000
25%         500.000000
50%        1000.000000
75%        1000.000000
max      700000.000000
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.